@mixin default-active {
  transition: opacity 0.3s, transform 0.3s;
}

.popover-enter-active,
.popover-leave-active {
  @include default-active;
}

.popover-enter-from,
.popover-leave-to {
  opacity: 0.1;
  transform: translateY(-50px) scale(0);
}
